<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="editBookContainer">
    <h3>Edit Book</h3>
    <form id="editBookForm">
      <!--  pattern="[A-Za-z\s\-'\.*]+" -->
      <input type="text" id="title" placeholder="Title *" required /> <br />
      <input type="text" id="author" placeholder="Author *" required />
      <br />
      <input type="number" id="publishedYear" placeholder="publishedYear" />
      <br />

      <select id="genre">
        <option value="">Select Book Genre (optional)</option>
        <option value="Fiction">Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Science">Science</option>
        <option value="Computer">Computer</option>
        <option value="History">History</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Biography">Biography</option>
        <option value="Other">Other</option>
      </select>
      <br />
      <input type="number" id="availableCopies" value="1" min="0" placeholder="available copies" />

      <div>
        <button type="submit" id="submitEditdBook">submit book</button>
        <button type="button" id="cancelEditBook">cancel add book</button>
      </div>
    </form>
    <div id="errorDisplayContainer"></div>
  </div>
  <!-- use abvolute path to server your js files with express-->
  <script src="/js/editBookService.js"></script>
</body>

</html>