# env files
.env
.env.local
.env.docker

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*



# build folders
dist/
build/

# cache
.cache/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# frontend build
frontend/dist/
frontend/build/

# backend temp
backend/src/uploads/
backend/src/temp