# env files
.env
.env.local
.env.docker
backend/.env
backend/.env.local
backend/.env.docker
frontend/.env
frontend/.env.local
frontend/.env.docker

# dependencies
node_modules/

# logs
logs/
*.log
npm-debug.log*

# build folders
dist/
build/
frontend/dist/
frontend/build/

# cache
.cache/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# uploads and temp files
backend/src/uploads/
backend/src/temp/